---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[
  "h-9 px-2 sm:px-3 rounded-md transition-colors flex items-center gap-2 justify-center", 
  isActive 
    ? "bg-surface text-foreground" 
    : "text-muted hover:bg-surface hover:text-foreground"
]} {...props}>
  <slot />
</a>
